.dataForm{
    flex: 6;
    padding: 10px;
    margin-left: 10px;
}

.dataFormGroup{
    display: flex;
    flex-direction: column;
}

.dataFormGroup input{
    margin: 10px;
    border: none;
    border-bottom: solid 1px;
    padding: 3px;
}

.dataFormGroup label{
    margin: 10px;
}

.dataFormSubmit{
    margin: 40px 10px 20px 10px;
    background-color: teal;
    border: none;
    padding: 3px;
}

.dataFormCancel{
    margin: 10px 10px 10px 10px;
    background-color: orange;
    border: none;
    padding: 3px;
}